/*Importanndo fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

:root {
    --blue: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;

    --menu-height: 70px;
}

* {
  box-sizing: border-box;   
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textArea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
    font-weight: lighter  ;
}

h2 {
    font-size: 24px; 
}

p {
    color: var(--light-grey);
}

button {
    background: var(--blue);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container img {
    display: none;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px; 
}

header .container h1 {
    color: var(--green);
}

nav {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: var(--menu-height);
    background: var(--bg-dark);
    position: sticky;
    top: 0;
} 

nav img  {
    height: 60px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around; 
}

nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none; 
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
    background: purple ;
}

/*Responsividade*/ 

/*Small desktops*/
@media (max-width:1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }
}



/*Tablet*/
@media (max-width: 767px) { 
    header .container img {
        display: inline;
        margin-bottom: 30px;
    }

    nav {
        padding: 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
}


/*Celular*/
@media (max-width: 460px) { 
    header .container {
        padding: 0 40px;
    }

    nav {
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }


}


