/*Importanndo fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

:root {
    --blue: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;

    --menu-height: 70px;
}

* {
  box-sizing: border-box;   
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textArea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px; 
}

p {
    color: var(--light-grey);
}

button {
    background: var(--blue);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px; 
}

header .container h1 {
    color: var(--green);
}

nav {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: var(--menu-height);
    background: var(--bg-dark);
    position: sticky;
    top: 0;
} 

nav img  {
    height: 70px;
}

nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none; 
    margin: 0 35px;
}

section {
    height: 1500px;
    background: purple ;
}